<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/style.css}" rel="stylesheet" /> 
    
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <title>READABLY | ADMIN PANEL</title>
</head>
<body>
    <div id="app">
        <span class="bg"></span>
        <nav class="navbar">
            <h2>MENU</h2>
            <hr>
             <ul style="display: flex; flex-direction: column;">
                <a class="nav-link current" href="#" style="color: white; text-decoration: none;"><i class="fas fa-chart-line" style="margin-right: 1.4rem;"></i>Admin Dashboard</a>
                <a class="nav-link" th:href="@{/viewuser}" style="color: white; text-decoration: none;"><i class="fas fa-bookmark" style="margin-right: 1.8rem;"></i>View Users</a>
                <a class="nav-link" th:href="@{/viewproduct}" style="color: white; text-decoration: none;"><i class="fas fa-bookmark" style="margin-right: 1.8rem;"></i>View Products</a>
                <a class="nav-link" th:href="@{/newProduct}" style="color: white; text-decoration: none;"><i class="fas fa-plus" style="margin-right: 1.8rem;"></i>Add New Product</a>
            	<a class="nav-link" th:href="@{/viewCampaign}" style="color: white; text-decoration: none;"><i class="fas fa-bookmark" style="margin-right: 1.8rem;"></i>View Campaign</a>
            	<a class="nav-link" th:href="@{/viewOrder}" style="color: white; text-decoration: none;"><i class="fas fa-bookmark" style="margin-right: 1.8rem;"></i>View Order</a>
            </ul>
        </nav>
        <div class="flex-container"></div>
        <div class="content">
            <div class="header">
                <h3 class="logo"><i class="fas fa-book"></i>Readably</h3>
                <a th:href="@{/logout}">Sign Out <i class="fas fa-sign-out-alt"></i></a>

                <div class="navigation">
                    <input type="checkbox" class="navigation__checkbox" id="navi-toggle">
        
                    <label for="navi-toggle" class="navigation__button">
                        <span class="navigation__icon">&nbsp;</span>
                    </label>
        
                    <div class="navigation__background">&nbsp;</div>
        
                     <nav class="navigation__nav">
                        <ul class="navigation__list">
                            <li class="navigation__item"><a href="#" class="navigation__link"><span>01</span>Admin Dashboard</a></li>
                            <li class="navigation__item"><a th:href="@{/viewuser}" class="navigation__link"><span>02</span>View Users</a></li>
                            <li class="navigation__item"><a th:href="@{/viewproduct}" class="navigation__link"><span>02</span>View Products</a></li>
                            <li class="navigation__item"><a th:href="@{/newProduct}" class="navigation__link"><span>03</span>Add New Product</a></li>
                            <li class="navigation__item"><a th:href="@{/viewCampaign}" class="navigation__link"><span>02</span>View Campaign</a></li>
                            <li class="navigation__item"><a th:href="@{/viewOrder}" class="navigation__link"><span>02</span>View Order</a></li>
                            <li class="navigation__item"><a th:href="@{/logout}" class="navigation__link"><span>04</span>Sign Out</a></li>
                        </ul>
                        
                    </nav>
                </div>
            </div>
            <div class="form-content">
                <div class="form-container">
                    <div class="form-header">
                        <h3>Welcome [[${#httpServletRequest.remoteUser}]]</h3>
                        <h4>Here you can see the products and make changes </h4>
                    </div>
                        <div class="form-row">
                            <div class="form-group-new">
                                <input type="text" id="username" placeholder="Readably" readonly>
                            </div>
                            <div class="form-group-new">
                                <input type="text" id="username" placeholder="AdminPanel" readonly>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    
    <script>
        var app = new Vue({
            el: '#app',
            data: {
            },
        });
    </script>
</body>
</html>