<!doctype html>
<html class="no-js" lang="zxx">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>My Account | Bookshop Responsive Bootstrap4 Template</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Favicons -->
	<link rel="shortcut icon" href="images/favicon.ico">
	<link rel="apple-touch-icon" href="images/icon.png">

	<!-- Google font (font-family: 'Roboto', sans-serif; Poppins ; Satisfy) -->
	<link href="https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,600,600i,700,700i,800" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet">

	<!-- Stylesheets -->
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/plugins.css">
	<link rel="stylesheet" href="style.css">

	<!-- Cusom css -->
   <link rel="stylesheet" href="css/custom.css">

</head>
<body>

	<!-- Main wrapper -->
	<div class="wrapper" id="wrapper">
		<!-- Header -->
		<header id="wn__header" class="oth-page header__area header__absolute sticky__header">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-4 col-sm-4 col-7 col-lg-2">
						<div class="logo">
							<a th:href="@{/}">
								<img src="images/logo/logo.png" alt="logo images" >
							</a>
						</div>
					</div>
					<div class="col-lg-8 d-none d-lg-block">
						<nav class="mainmenu__nav">
							<ul class="meninmenu d-flex justify-content-start">
								<li class="drop with--one--item"><a th:href="@{/}">Home</a></li>
								<li class="drop"><a th:href="@{/shop-grid}">Shop</a>
								</li>
								<li class="drop"><a href="shop-grid.html">Books</a>
									<div class="megamenu dropdown">
										<ul class="item item01">
											<li class="title">Categories</li>
											<li><a th:href="@{'/shop-grid/' + 'Biography'}" method="get">Biography </a></li>
											<li><a  th:href="@{'/shop-grid/' + 'Fiction'}" method="get">Fiction </a></li>
											<li><a th:href="@{'/shop-grid/' + 'History'}" method="get">History </a></li>
											<li><a th:href="@{'/shop-grid/' + 'Romance'}" method="get">Romance </a></li>
											<li><a th:href="@{'/shop-grid/' + 'Science'}" method="get">Science </a></li>
											
										</ul>
									</div>
								</li>
								
								<li class="drop"><a href="#">Pages</a>
									<div class="megamenu dropdown">
										<ul class="item item01">
											<li><a th:href="@{/myaccount}">My Account</a></li>
											<li><a th:href="@{/cart}">Cart Page</a></li>
											<li><a th:href="@{/mywishlist}">My Wishlist</a></li>
											
										</ul>
									</div>
								</li>
								<li class="drop"><a th:href="@{/blog}">Blog</a>
									<div class="megamenu dropdown">
										<ul class="item item01">
											
											<li><a th:href="@{/team}">Team Page</a></li>
										</ul>
										
									</div>
								</li>
								<li><a th:href="@{/contact}">Contact</a></li>
							</ul>
						</nav>
					</div>
					<div class="col-md-8 col-sm-8 col-5 col-lg-2">
						<ul class="header__sidebar__right d-flex justify-content-end align-items-center">
							<li class="shop_search"><a class="search__active" href="#"></a></li>
							<li class="wishlist"><a th:href="@{/mywishlist}"></a></li>
							<li class="shopcart" th:if="${#httpServletRequest.remoteUser} != null" ><a class="cartbox_active" href="#"><span class="product_qun" th:text="${session.user.getBookCount()}">3</span></a>
								<!-- Start Shopping Cart -->
								<div class="block-minicart minicart__active">
									<div class="minicart-content-wrapper">
										<div class="micart__close">
											<span>close</span>
										</div>
										<div class="items-total d-flex justify-content-between">
											<span><td th:text="${session.user.getBookCount() + ' item(s)'}"></td></span>
											<span>Cart Subtotal</span>
										</div>
										<div class="total_amount text-right">
											<span><td th:text="${session.user.cartTotal}"></td></span>
										</div>
										<div class="mini_action checkout">
											<a class="checkout__btn" th:href="@{/checkout}">Go to Checkout</a>
										</div>
										<div class="single__items">
											<div class="miniproduct">
												<tr th:each="item : ${session.cartItems}">
												<div class="item01 d-flex">
													<div class="thumb">
														<a th:href="@{'/single-product/' + ${item.product.id}}" method="get" ><img th:src="${'/images/books/' + item.product.id+'.jpg'}"  alt="product images"></a>
													</div>
													<div class="content">
														<h6><a th:text="${item.product.title}" th:href="@{'/single-product/' + ${item.product.id}}" method="get" >product name</a></h6>
														<span class="prize" th:text="'$'+${item.product.ourPrice}">$30.00</span>
														<div class="product_prize d-flex justify-content-between">
															<span class="qun" th:text="'Qty: ' + ${item.quantity}">Qty: 01</span>
															<ul class="d-flex justify-content-end">
																<li><a href="#"><i class="zmdi zmdi-settings"></i></a></li>
																<li><a th:href="${'/cart/delete/' + item.product.id}"><i class="zmdi zmdi-delete"></i></a></li>
															</ul>
														</div>
													</div>
												</div>
												</tr>
											</div>
										</div>
										<div class="mini_action cart">
											<a class="cart__btn" th:href="@{/cart}">View and edit cart</a>
										</div>
									</div>
								</div>
								<!-- End Shopping Cart -->
							</li>
							<li class="setting__bar__icon"><a class="setting__active" href="#"></a>
								<div class="searchbar__content setting__block">
									<div class="content-inner">
										
										<div class="switcher-currency">
											<strong class="label switcher-label">
												<span>My Account</span>
											</strong>
											<div class="switcher-options">
												<div class="switcher-currency-trigger">
													<div class="setting__menu">
														<span th:if="${#httpServletRequest.remoteUser} == null"><a th:href="@{/createAccount}"><i class="fas fa-stream"></i>Create An Account</a></span>
														<span><a th:href="@{/myaccount}">My Account</a></span>
														<span><a th:href="@{/mywishlist}">My Wishlist</a></span>
														<span th:if="${#httpServletRequest.remoteUser} != null"><a th:href="@{/Shopping-History}">Shopping History</a></span>
														<span th:if="${#httpServletRequest.remoteUser} != null"><a th:href="@{/goToOrders}">Orders List</a></span>
														<span th:if="${#httpServletRequest.remoteUser} != null"><a th:href="@{/logout}">Sign Out</a></span>
														<span th:if="${#httpServletRequest.remoteUser} == null"><a th:href="@{/login}">Sign In</a></span>
														
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<!-- Start Mobile Menu -->
				<div class="row d-none">
					<div class="col-lg-12 d-none">
						<nav class="mobilemenu__nav">
							<ul class="meninmenu">
								<li><a th:href="@{/}">Home</a></li>
								<li><a href="#">Pages</a>
									<ul>
										<li><a href="about.html">About Page</a></li>
										<li><a href="portfolio.html">Portfolio</a>
											<ul>
												<li><a href="portfolio.html">Portfolio</a></li>
												<li><a href="portfolio-details.html">Portfolio Details</a></li>
											</ul>
										</li>
										<li><a href="my-account.html">My Account</a></li>
										<li><a href="cart.html">Cart Page</a></li>
										<li><a href="checkout.html">Checkout Page</a></li>
										<li><a href="wishlist.html">Wishlist Page</a></li>
										<li><a href="error404.html">404 Page</a></li>
										<li><a href="faq.html">Faq Page</a></li>
										<li><a href="team.html">Team Page</a></li>
									</ul>
								</li>
								<li><a href="shop-grid.html">Shop</a>
									<ul>
										<li><a href="shop-grid.html">Shop Grid</a></li>
										<li><a href="single-product.html">Single Product</a></li>
									</ul>
								</li>
								<li><a href="blog.html">Blog</a>
									<ul>
										<li><a href="blog.html">Blog Page</a></li>
										<li><a href="blog-details.html">Blog Details</a></li>
									</ul>
								</li>
								<li><a href="contact.html">Contact</a></li>
							</ul>
						</nav>
					</div>
				</div>
				<!-- End Mobile Menu -->
	            <div class="mobile-menu d-block d-lg-none">
	            </div>
	            <!-- Mobile Menu -->	
			</div>		
		</header>
		<!-- //Header -->
		<!-- Start Search Popup -->
		<!-- //Header -->
		<!-- Start Search Popup -->
		<div class="brown--color box-search-content search_active block-bg close__top">
			<form id="search_mini_form" class="minisearch" th:action="@{/search}"  method="post">
				<div class="field__search">
					<input type="text" th:field="*{searcheditem.title}" placeholder="Search entire store here...">
					<div >
						<button><i class="zmdi zmdi-search"></i></button>
					</div>
				</div>
			</form>
			<div class="close__wrap">
				<span>close</span>
			</div>
		</div>
		<!-- End Search Popup -->
        <!-- Start Bradcaump area -->
        <div class="ht__bradcaump__area bg-image--6">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="bradcaump__inner text-center">
                        	<h2 class="bradcaump-title">My Account</h2>
                            <nav class="bradcaump-content">
                              <a class="breadcrumb_item" th:href="@{/}">Home</a>
                              <span class="brd-separetor">/</span>
                              <span class="breadcrumb_item active">My Account</span>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Bradcaump area -->
        
        
        
<!------ Include the above in your HEAD tag ---------->

<head>  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>



<div class="container bootstrap snippet">
    <div class="row">
  		
    	    </div>
    <div class="row" style="display: block; margin-left: auto; margin-right: auto;">
     <form class="form" th:action="@{/EditProfile}" method="post" id="registrationForm" enctype="multipart/form-data">
    
  		<div class="col-sm-3">
      
      <div th:if="${session.user.imageControl} == false" class="text-center">
        <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="avatar img-circle img-thumbnail" alt="avatar" style="width:150px;height:150px;">
       	<input type="file" class="text-center center-block file-upload" th:field="*{userValidator.userImage}">   
      </div><br>
	 <div th:if="${session.user.imageControl} == true" class="text-center">
        <img th:src="@{/images/user/}+${session.user.id}+'.jpg'" class="avatar img-circle img-thumbnail" alt="avatar" style="width:150px;height:150px;">
        <input type="file" class="text-center center-block file-upload" th:field="*{userValidator.userImage}">   
      </div><br>
          
        </div><!--/col-3-->
    	<div class="col-sm-9">      
          <div class="tab-content">
            <div class="tab-pane active" id="home">
                <hr>
                <p class="alert" style="color:red;" th:text="${session.editprofile}"></p>
                 
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                              <label for="first_name"><h4>First name</h4></label>
                              <input type="text" class="form-control" name="first_name" id="first_name" th:field="*{userValidator.name}" placeholder="first name" title="enter your first name if any.">
                          </div>
                      </div>
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                            <label for="last_name"><h4>Last name</h4></label>
                              <input type="text" class="form-control" name="last_name" id="last_name" th:field="*{userValidator.surname}" placeholder="last name" title="enter your last name if any.">
                          </div>
                      </div>
          
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                              <label for="Phone Number"><h4>Phone Number</h4></label>
                              <input type="tel" class="form-control" name="phone" id="phone" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" th:field="*{userValidator.phoneNumber}" placeholder="XXX-XXX-XXXX" title="enter your phone number if any.">
                          </div>
                      </div>
          
                      <div class="form-group">
                          <div class="col-xs-6">
                             <label for="Verify Number"><h4>Verify Number</h4></label>
                              <input type="text" class="form-control" name="verify number" id="verify number" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" th:field="*{userValidator.confirm_email}" placeholder="XXX-XXX-XXXX" title="enter your mobile number if any.">
                          </div>
                      </div>
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                              <label for="email"><h4>Email</h4></label>
                              <input type="email" class="form-control" name="email" id="email" th:field="*{userValidator.email}" placeholder="you@email.com" title="enter your email.">
                          </div>
                      </div>
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                              <label for="Location"><h4>Location</h4></label>
                              <input type="text" class="form-control" id="location" th:field="*{userValidator.address}" placeholder="somewhere" title="enter a location">
                          </div>
                      </div>
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                              <label for="password"><h4>Password</h4></label>
                              <input type="password" class="form-control" name="password" id="password " th:field="*{userValidator.password}"  placeholder="password" title="enter your password.">
                          </div>
                      </div>
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                            <label for="password2"><h4>Verify</h4></label>
                              <input type="password" class="form-control" name="password2" id="password2" placeholder="password2" th:field="*{userValidator.confirm_Password}" title="enter your password2.">
                          </div>
                      </div>
                      
                        
                      
                      <div class="form-group">
                           <div class="col-xs-12">
                                <br>
                              	<button class="btn btn-lg btn-success" type="submit"><i class="glyphicon glyphicon-ok-sign"></i> Save</button>
                               	 <br>
                            </div>
                      </div>
              	
               
             </div><!--/tab-pane-->
             </div><!--/tab-pane-->

        </div><!--/col-9-->
        
        </form>
        
    </div><!--/row-->
     </div><!--/row-->
    
    <!-- Footer Area -->
		<footer id="wn__footer" class="footer__area bg__cat--8 brown--color">
			<div class="footer-static-top">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<div class="footer__widget footer__menu">
								<div class="ft__logo">
									<a th:href="@{/}">
										<img src="images/logo/logo_small.png" alt="logo" height="100px" width="100px">
									</a>
									<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered duskam alteration variations of passages</p>
								</div>
								<div class="footer__content">
									<ul class="social__net social__net--2 d-flex justify-content-center">
										<li><a href="https://www.facebook.com/"><i class="bi bi-facebook"></i></a></li>
										<li><a href="https://www.google.com/"><i class="bi bi-google"></i></a></li>
										<li><a href="https://twitter.com/"><i class="bi bi-twitter"></i></a></li>
										<li><a href="https://www.linkedin.com/"><i class="bi bi-linkedin"></i></a></li>
										<li><a href="https://www.youtube.com/"><i class="bi bi-youtube"></i></a></li>
									</ul>
									<ul class="mainmenu d-flex justify-content-center">
										<li><a th:href="@{/shop-grid}">All Product</a></li>
										<li><a th:href="@{/mywishlist}">Wishlist</a></li>
										<li><a th:href="@{/team}">Blog</a></li>
										<li><a th:href="@{/contact}">Contact</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="copyright__wrapper">
				<div class="container">
					<div class="row">
						<div class="col-lg-6 col-md-6 col-sm-12">
							<div class="copyright">
								<div class="copy__right__inner text-left">
									<p>Copyright <i class="fa fa-copyright"></i> <a >Readably.</a> All Rights Reserved</p>
								</div>
							</div>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-12">
							<div class="payment text-right">
								<img src="images/icons/payment.png" alt="" />
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<!-- //Footer Area -->
		
	</div>
	<!-- //Main wrapper -->

	<!-- JS Files -->
	<script src="js/vendor/jquery-3.2.1.min.js"></script>
	<script src="js/popper.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/plugins.js"></script>
	<script src="js/active.js"></script>
	
</body>
</html>
                                                      