<!doctype html>
<html class="no-js" lang="zxx">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>Shop-Grid | Bookshop Responsive Bootstrap4 Template</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Favicons -->
	<link rel="shortcut icon" href="images/favicon.ico">
	<link rel="apple-touch-icon" href="images/icon.png">

	<!-- Google font (font-family: 'Roboto', sans-serif; Poppins ; Satisfy) -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet"> 
	<link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,600,600i,700,700i,800" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">

	<!-- Stylesheets -->
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/plugins.css">
	<link rel="stylesheet" href="style.css">

	<!-- Cusom css -->
   <link rel="stylesheet" href="css/custom.css">

	<!-- Modernizer js -->
	<script src="js/vendor/modernizr-3.5.0.min.js"></script>
</head>
<body>
	
	<!-- Main wrapper -->
	<div class="wrapper" id="wrapper">
		
		<!-- Header -->
		<header id="wn__header" class="oth-page header__area header__absolute sticky__header">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-4 col-sm-4 col-7 col-lg-2">
						<div class="logo">
							<a th:href="@{/}">
								<img src="images/logo/logo.png" alt="logo images" >
							</a>
						</div>
					</div>
					<div class="col-lg-8 d-none d-lg-block">
						<nav class="mainmenu__nav">
							<ul class="meninmenu d-flex justify-content-start">
								<li class="drop with--one--item"><a th:href="@{/}">Home</a></li>
								<li class="drop"><a th:href="@{/shop-grid}">Shop</a>
								</li>
								<li class="drop"><a href="shop-grid.html">Books</a>
									<div class="megamenu dropdown">
										<ul class="item item01">
											<li class="title">Categories</li>
											<li><a th:href="@{'/shop-grid/' + 'Biography'}" method="get">Biography </a></li>
											<li><a  th:href="@{'/shop-grid/' + 'Fiction'}" method="get">Fiction </a></li>
											<li><a th:href="@{'/shop-grid/' + 'History'}" method="get">History </a></li>
											<li><a th:href="@{'/shop-grid/' + 'Romance'}" method="get">Romance </a></li>
											<li><a th:href="@{'/shop-grid/' + 'Science'}" method="get">Science </a></li>
											
										</ul>
									</div>
								</li>
								
								<li class="drop"><a href="#">Pages</a>
									<div class="megamenu dropdown">
										<ul class="item item01">
											<li><a th:href="@{/myaccount}">My Account</a></li>
											<li><a th:href="@{/cart}">Cart Page</a></li>
											<li><a th:href="@{/mywishlist}">My Wishlist</a></li>
											
										</ul>
									</div>
								</li>
								<li class="drop"><a th:href="@{/blog}">Blog</a>
									<div class="megamenu dropdown">
										<ul class="item item01">
											
											<li><a th:href="@{/team}">Team Page</a></li>
										</ul>
										
									</div>
								</li>
								<li><a th:href="@{/contact}">Contact</a></li>
							</ul>
						</nav>
					</div>
					<div class="col-md-8 col-sm-8 col-5 col-lg-2">
						<ul class="header__sidebar__right d-flex justify-content-end align-items-center">
							<li class="shop_search"><a class="search__active" href="#"></a></li>
							<li class="wishlist"><a th:href="@{/mywishlist}"></a></li>
							<li class="shopcart" th:if="${#httpServletRequest.remoteUser} != null" ><a class="cartbox_active" href="#"><span class="product_qun" th:text="${session.user.getBookCount()}">3</span></a>
								<!-- Start Shopping Cart -->
								<div class="block-minicart minicart__active">
									<div class="minicart-content-wrapper">
										<div class="micart__close">
											<span>close</span>
										</div>
										<div class="items-total d-flex justify-content-between">
											<span><td th:text="${session.user.getBookCount() + ' item(s)'}"></td></span>
											<span>Cart Subtotal</span>
										</div>
										<div class="total_amount text-right">
											<span><td th:text="${session.user.cartTotal}"></td></span>
										</div>
										<div class="mini_action checkout">
											<a class="checkout__btn" th:href="@{/checkout}">Go to Checkout</a>
										</div>
										<div class="single__items">
											<div class="miniproduct">
												<tr th:each="item : ${session.cartItems}">
												<div class="item01 d-flex">
													<div class="thumb">
														<a th:href="@{'/single-product/' + ${item.product.id}}" method="get" ><img th:src="${'/images/books/' + item.product.id+'.jpg'}"  alt="product images"></a>
													</div>
													<div class="content">
														<h6><a th:text="${item.product.title}" th:href="@{'/single-product/' + ${item.product.id}}" method="get" >product name</a></h6>
														<span class="prize" th:text="'$'+${item.product.ourPrice}">$30.00</span>
														<div class="product_prize d-flex justify-content-between">
															<span class="qun" th:text="'Qty: ' + ${item.quantity}">Qty: 01</span>
															<ul class="d-flex justify-content-end">
																<li><a href="#"><i class="zmdi zmdi-settings"></i></a></li>
																<li><a th:href="${'/cart/delete/' + item.product.id}"><i class="zmdi zmdi-delete"></i></a></li>
															</ul>
														</div>
													</div>
												</div>
												</tr>
											</div>
										</div>
										<div class="mini_action cart">
											<a class="cart__btn" th:href="@{/cart}">View and edit cart</a>
										</div>
									</div>
								</div>
								<!-- End Shopping Cart -->
							</li>
							<li class="setting__bar__icon"><a class="setting__active" href="#"></a>
								<div class="searchbar__content setting__block">
									<div class="content-inner">
										
										<div class="switcher-currency">
											<strong class="label switcher-label">
												<span>My Account</span>
											</strong>
											<div class="switcher-options">
												<div class="switcher-currency-trigger">
													<div class="setting__menu">
														<span th:if="${#httpServletRequest.remoteUser} == null"><a th:href="@{/createAccount}"><i class="fas fa-stream"></i>Create An Account</a></span>
														<span><a th:href="@{/myaccount}">My Account</a></span>
														<span><a th:href="@{/mywishlist}">My Wishlist</a></span>
														<span th:if="${#httpServletRequest.remoteUser} != null"><a th:href="@{/Shopping-History}">Shopping History</a></span>
														<span th:if="${#httpServletRequest.remoteUser} != null"><a th:href="@{/goToOrders}">Orders List</a></span>
														<span th:if="${#httpServletRequest.remoteUser} != null"><a th:href="@{/logout}">Sign Out</a></span>
														<span th:if="${#httpServletRequest.remoteUser} == null"><a th:href="@{/login}">Sign In</a></span>
														
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<!-- Start Mobile Menu -->
				<div class="row d-none">
					<div class="col-lg-12 d-none">
						<nav class="mobilemenu__nav">
							<ul class="meninmenu">
								<li><a th:href="@{/}">Home</a></li>
								<li><a href="#">Pages</a>
									<ul>
										<li><a href="about.html">About Page</a></li>
										<li><a href="portfolio.html">Portfolio</a>
											<ul>
												<li><a href="portfolio.html">Portfolio</a></li>
												<li><a href="portfolio-details.html">Portfolio Details</a></li>
											</ul>
										</li>
										<li><a href="my-account.html">My Account</a></li>
										<li><a href="cart.html">Cart Page</a></li>
										<li><a href="checkout.html">Checkout Page</a></li>
										<li><a href="wishlist.html">Wishlist Page</a></li>
										<li><a href="error404.html">404 Page</a></li>
										<li><a href="faq.html">Faq Page</a></li>
										<li><a href="team.html">Team Page</a></li>
									</ul>
								</li>
								<li><a href="shop-grid.html">Shop</a>
									<ul>
										<li><a href="shop-grid.html">Shop Grid</a></li>
										<li><a href="single-product.html">Single Product</a></li>
									</ul>
								</li>
								<li><a href="blog.html">Blog</a>
									<ul>
										<li><a href="blog.html">Blog Page</a></li>
										<li><a href="blog-details.html">Blog Details</a></li>
									</ul>
								</li>
								<li><a href="contact.html">Contact</a></li>
							</ul>
						</nav>
					</div>
				</div>
				<!-- End Mobile Menu -->
	            <div class="mobile-menu d-block d-lg-none">
	            </div>
	            <!-- Mobile Menu -->	
			</div>		
		</header>
		<!-- //Header -->
		<!-- Start Search Popup -->
		<!-- //Header -->
		<!-- Start Search Popup -->
		<div class="brown--color box-search-content search_active block-bg close__top">
			<form id="search_mini_form" class="minisearch" th:action="@{/search}"  method="post">
				<div class="field__search">
					<input type="text" th:field="*{searcheditem.title}" placeholder="Search entire store here...">
					<div >
						<button><i class="zmdi zmdi-search"></i></button>
					</div>
				</div>
			</form>
			<div class="close__wrap">
				<span>close</span>
			</div>
		</div>
		<!-- End Search Popup -->
        <!-- Start Bradcaump area -->
        <div class="ht__bradcaump__area bg-image--6">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="bradcaump__inner text-center">
                        	<h2 class="bradcaump-title">Shop Grid</h2>
                            <nav class="bradcaump-content">
                              <a class="breadcrumb_item" th:href="@{/}">Home</a>
                              <span class="brd-separetor">/</span>
                              <span class="breadcrumb_item active">Shop Grid</span>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Bradcaump area -->
        <!-- Start Shop Page -->
        <div class="page-shop-sidebar left--sidebar bg--white section-padding--lg">
        	<div class="container">
        		<div class="row">
        			<div class="col-lg-3 col-12 order-2 order-lg-1 md-mt-40 sm-mt-40">
        				<div class="shop__sidebar">
        					<aside class="wedget__categories poroduct--cat">
        						<h3 class="wedget__title">Product Categories</h3>
        						<ul>
        							<li><a th:href="@{/shop-grid}">All Products <span><td th:text="${'( '+session.allcount+' )'}"></td></span></a></li>
        							<li><a th:href="@{'/shop-grid/' + 'Science'}" method="get" >Science <span><td th:text="${'( '+session.Sciencecount+' )'}"></td></span></a></li>
        							<li><a  th:href="@{'/shop-grid/' + 'History'}" method="get" >History <span><td th:text="${'( '+session.Historycount+' )'}"></td></span></a></li>
        							<li><a th:href="@{'/shop-grid/' + 'Romance'}" method="get">Romance <span><td th:text="${'( '+session.Romancecount+' )'}"></td></span></a></li>
        							<li><a th:href="@{'/shop-grid/' + 'Biography'}" method="get">Biography <span><td th:text="${'( '+session.Biographycount+' )'}"></td></span></a></li>
        							<li><a th:href="@{'/shop-grid/' + 'Fiction'}" method="get">Fiction <span><td th:text="${'( '+session.Fictioncount+' )'}"></td></span></a></li>
        							
        						</ul>
        					</aside>
        					<aside class="wedget__categories pro--range">
        						<h3 class="wedget__title">Filter by price</h3>
        						<div class="content-shopby">
        						    <div class="price_filter s-filter clear">
        						        <form  th:action="@{/filterbyprice}"  method="post">
        						            <div id="slider-range"></div>
        						            <div class="slider__range--output">
        						                <div class="price__output--wrap">
        						                    <div class="price--output">
        						                        <span>Price :</span><input type="text"  th:field="*{searcheditem.title}" id="amount" readonly="">
        						                    </div>
        						                    <div class="price--filter">
        						                    	<button><i class="zmdi zmdi-search"></i></button>
        						                       
        						                    </div>
        						                </div>
        						            </div>
        						        </form>
        						    </div>
        						</div>
        					</aside>
        					<aside class="wedget__categories poroduct--tag">
        						<h3 class="wedget__title">Product Tags</h3>
        						<ul>
        							<li><a th:href="@{/shop-grid}">All Products </a></li>
        							<li><a th:href="@{'/shop-grid/' + 'Science'}" method="get" >Science </a></li>
        							<li><a  th:href="@{'/shop-grid/' + 'History'}" method="get" >History </a></li>
        							<li><a th:href="@{'/shop-grid/' + 'Romance'}" method="get">Romance </a></li>
        							<li><a th:href="@{'/shop-grid/' + 'Biography'}" method="get">Biography </a></li>
        							<li><a th:href="@{'/shop-grid/' + 'Fiction'}" method="get">Fiction </a></li>
        						</ul>
        					</aside>
        					
        				</div>
        			</div>
        			<div class="col-lg-9 col-12 order-1 order-lg-2">
        				<div class="row">
        					<div class="col-lg-12">
								<div class="shop__list__wrapper d-flex flex-wrap flex-md-nowrap justify-content-between">
									<div class="shop__list nav justify-content-center" role="tablist">
			                            <a class="nav-item nav-link active" data-toggle="tab" href="#nav-grid" role="tab"><i class="fa fa-th"></i></a>
			                            <a class="nav-item nav-link" data-toggle="tab" href="#nav-list" role="tab"><i class="fa fa-list"></i></a>
			                        </div>
			                        <p>Readably Books</p>
			                   
			                        <div class="orderby__wrapper">
			                        	<span>Sort By</span>
			                        	<select onchange="location=this.value;"name="sort" class="shot__byselect" th:field="*{searcheditem.title}">
			                        		<option  value=""  >Default sorting</option>
			                        		<option value="/sort1" >A-Z</option>
			                        		<option value="/sort2" >Increasing by Price</option>
			                        		<option value="/sort3" >Decreasing by Price</option>
			                        		<option value="/sort4" >Best Sellers</option>
			                        		
			                        	</select>
			                        	
			                        </div>
			                        
		                        </div>
        					</div>
        				</div>
        				<div class="tab__container">
	        				<div class="shop-grid tab-pane fade show active" id="nav-grid" role="tabpanel">
	        					<div class="row">
	        						<!-- Start Single Product -->
	        						<tr th:each="product , stats : ${session.listProduct}">
		        						<th:block th:if="${session.selected*9 > stats.index }" >
		        						<div th:if="${(session.selected-1)*9 <= stats.index }" class="product product__style--3 col-lg-4 col-md-4 col-sm-6 col-12">
			        						<div class="product__thumb">
			        							
												<a class="first__img" th:href="@{'/single-product/' + ${product.id}}" method="get"><img th:src="${'/images/books/' + product.id+'.jpg'}"></a>
												
											</div>
											<div class="product__content content--center">
												<h4><a th:href="@{'/single-product/' + ${product.id}}" method="get"><td th:text="${product.title}">Title</td></a></h4>
													<ul class="prize d-flex">
														<li><td th:text="${'$'+product.ourPrice}">Price</td></li>
														<span th:if="${product.ourPrice != product.listPrice}"><li  class="old_prize"><td th:text="${'$'+product.listPrice}">Price</td></li></span>
														
									
													</ul>
												<div class="action">
													<div class="actions_inner">
														<ul class="add_to_links">
															<li><a class="cart" th:href="${'/cart/buy/' + product.id}"><i class="bi bi-shopping-cart-full"></i></a></li>
															<li><a class="wishlist" th:href="${'/wishlist/add/' + product.id}"><i class="bi bi-heart-beat"></i></a></li>
															<li><a th:href="@{'/single-product/' + ${product.id}}" method="get"><i class="bi bi-search"></i></a></li>
														</ul>
													</div>
												</div>
												<div class="product__hover--content">
													<td th:switch="${product.rate}">
			    											<ul th:case="'0'" class="rating d-flex">
																<li ><i class="fa fa-star-o"></i></li>
																<li ><i class="fa fa-star-o"></i></li>
																<li ><i class="fa fa-star-o"></i></li>
																<li ><i class="fa fa-star-o"></i></li>
																<li><i class="fa fa-star-o"></i></li>
			    											</ul>
			    											<ul th:case="'1'" class="rating d-flex">
																<li class="on"><i class="fa fa-star-o"></i></li>
																<li ><i class="fa fa-star-o"></i></li>
																<li ><i class="fa fa-star-o"></i></li>
																<li ><i class="fa fa-star-o"></i></li>
																<li><i class="fa fa-star-o"></i></li>
			    											</ul>
			    											<ul th:case="'2'" class="rating d-flex">
																<li class="on"><i class="fa fa-star-o"></i></li>
																<li class="on"><i class="fa fa-star-o"></i></li>
																<li ><i class="fa fa-star-o"></i></li>
																<li ><i class="fa fa-star-o"></i></li>
																<li><i class="fa fa-star-o"></i></li>
			    											</ul>
			    											<ul th:case="'3'" class="rating d-flex">
																<li class="on"><i class="fa fa-star-o"></i></li>
																<li class="on"><i class="fa fa-star-o"></i></li>
																<li class="on"><i class="fa fa-star-o"></i></li>
																<li ><i class="fa fa-star-o"></i></li>
																<li><i class="fa fa-star-o"></i></li>
			    											</ul>
			    											<ul th:case="'4'" class="rating d-flex">
																<li class="on"><i class="fa fa-star-o"></i></li>
																<li class="on"><i class="fa fa-star-o"></i></li>
																<li class="on"><i class="fa fa-star-o"></i></li>
																<li class="on"><i class="fa fa-star-o"></i></li>
																<li ><i class="fa fa-star-o"></i></li>
			    											</ul>
			    											<ul th:case="'5'" class="rating d-flex">
																<li class="on"><i class="fa fa-star-o"></i></li>
																<li class="on"><i class="fa fa-star-o"></i></li>
																<li class="on"><i class="fa fa-star-o"></i></li>
																<li class="on"><i class="fa fa-star-o"></i></li>
																<li class="on"><i class="fa fa-star-o"></i></li>
			    											</ul>
			    											
												</td>
													
												</div>
											</div>
		        						</div>
		        						</th:block>
		        					</tr>
		        					<!-- End Single Product -->
	        						
	        					</div>
	        									
	        					<ul class="wn__pagination">
	        					<th:block th:each="i: ${#numbers.sequence(1, session.count)}">
	        					<td th:switch="${session.selected}">
	        						<li class="active" th:case="${i}"><a th:href="@{'/change-page/' + ${i} }"><span  th:value="${   i }" th:text="${ i }"></a></span> </li>
	        						<li  th:case="*"><a th:href="@{'/change-page/' + ${i} }"><span  th:value="${   i }" th:text="${ i }"></a></span> </li>
	        					</td>
	        					</th:block>
	        					
	        						<li><a href="#"><i class="zmdi zmdi-chevron-right"></i></a></li>
	        					</ul>
	        				</div>
	        				<div class="shop-grid tab-pane fade" id="nav-list" role="tabpanel">
	        					<div class="list__view__wrapper">
	        					
	        						<!-- Start Single Product -->
	        						<tr th:each="product : ${session.listProduct}">
		        						<div class="list__view mt--40">
	        								<div class="thumb">
												<a class="first__img" th:href="@{'/single-product/' + ${product.id}}" method="get"><img th:src="${'/images/books/' + product.id+'.jpg'}" width="210" height="340"></a>
												
											</div>
											<div class="content">
												<h2><a th:href="@{'/single-product/' + ${product.id}}" method="get"><td th:text="${product.title}"></td></a></h2>
													<ul class="rating d-flex">
	        											<li class="on"><i class="fa fa-star-o"></i></li>
	        											<li class="on"><i class="fa fa-star-o"></i></li>
	        											<li class="on"><i class="fa fa-star-o"></i></li>
	        											<li class="on"><i class="fa fa-star-o"></i></li>
	        											<li><i class="fa fa-star-o"></i></li>
	        											<li><i class="fa fa-star-o"></i></li>
	        										</ul>
													<ul class="prize__box">
														<li><td th:text="${'$'+product.ourPrice}">Price</td></li>
														<span th:if="${product.ourPrice != product.listPrice}"><li  class="old__prize"><td th:text="${' $'+product.listPrice}"></td></li></span>
														
									
													</ul>
														<p th:text="${'Author : ' + product.author}"></p>
														<p th:text="${'Publisher : ' + product.publisher}"></p>
														<p th:text="${'Page Number : ' + product.pageNumber}"></p>
													
													<ul class="cart__action d-flex">
	        											<li class="cart" ><a th:href="${'/cart/buy/' + product.id}">Add to cart</a></li>
														<li class="wishlist" ><a th:href="${'/wishlist/add/' + product.id}"></a></li>
															
	        										</ul>
												
											</div>
		        						</div>
		        					</tr>
		        					<!-- End Single Product -->
	        						
	        			
	        						
	        						
	        					</div>
	        				</div>
        				</div>
        			</div>
        		</div>
        	</div>
        </div>
        <!-- End Shop Page -->
		<!-- Footer Area -->
		<footer id="wn__footer" class="footer__area bg__cat--8 brown--color">
			<div class="footer-static-top">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<div class="footer__widget footer__menu">
								<div class="ft__logo">
									<a th:href="@{/}">
										<img src="images/logo/logo_small.png" alt="logo" height="100px" width="100px">
									</a>
									<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered duskam alteration variations of passages</p>
								</div>
								<div class="footer__content">
									<ul class="social__net social__net--2 d-flex justify-content-center">
										<li><a href="https://www.facebook.com/"><i class="bi bi-facebook"></i></a></li>
										<li><a href="https://www.google.com/"><i class="bi bi-google"></i></a></li>
										<li><a href="https://twitter.com/"><i class="bi bi-twitter"></i></a></li>
										<li><a href="https://www.linkedin.com/"><i class="bi bi-linkedin"></i></a></li>
										<li><a href="https://www.youtube.com/"><i class="bi bi-youtube"></i></a></li>
									</ul>
									<ul class="mainmenu d-flex justify-content-center">
										<li><a th:href="@{/shop-grid}">All Product</a></li>
										<li><a th:href="@{/mywishlist}">Wishlist</a></li>
										<li><a th:href="@{/team}">Blog</a></li>
										<li><a th:href="@{/contact}">Contact</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="copyright__wrapper">
				<div class="container">
					<div class="row">
						<div class="col-lg-6 col-md-6 col-sm-12">
							<div class="copyright">
								<div class="copy__right__inner text-left">
									<p>Copyright <i class="fa fa-copyright"></i> <a >Readably.</a> All Rights Reserved</p>
								</div>
							</div>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-12">
							<div class="payment text-right">
								<img src="images/icons/payment.png" alt="" />
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<!-- //Footer Area -->
		
		</div>
		<!-- //Main wrapper -->

		<!-- JS Files -->
		<script src="js/vendor/jquery-3.2.1.min.js"></script>
		<script src="js/popper.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/plugins.js"></script>
		<script src="js/active.js"></script>
		
	</body>
	</html>